
.side-bar {
    border-right: 1px solid;
    padding-right: 20px;
}

label {
    font-family: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, helvetica, sans-serif;
}

input.media-input {
    width: 100%;
}

.date-select {
    margin: 0 5px 0px 0px;
}